<!DOCTYPE html>
<html>
<head>
    <title>About</title>

    <style>
        body {
            font-family: Arial;
            background: #dff9fb;
            text-align: center;
        }

        .box {
            background: white;
            width: 400px;
            margin: 100px auto;
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>

<body>

<div class="box">
    <h1>About Me</h1>

    <p>
        Hello! Mera naam Abhi hai.  
        Main Web Development seekh raha hoon.
    </p>

    <a href="home.html">Back to Home</a>
</div>

</body>
</html>
