<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>

    <style>
        body {
            font-family: Arial;
            background: #ffeaa7;
            text-align: center;
        }

        .card {
            background: white;
            width: 350px;
            margin: 100px auto;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 10px gray;
        }

        img {
            width: 100px;
            border-radius: 50%;
        }
    </style>
</head>

<body>

<div class="card">

    <img src="https://via.placeholder.com/100">

    <h2>Abhishekh Yadav</h2>

    <p>Web Developer Student</p>

    <p>Email: abhi@gmail.com</p>

    <a href="home.html">Go Home</a>

</div>

</body>
</html>
